@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

header {
    height: 8vh;
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
}

#menu {
    background-image: url(./img/icons8-menú-120.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 33px;
    width: 33px;
    background-size: 33px 33px;
    
}

#logo {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#logo_little {
    color: #FAF014;
}

#logo_lemmon {
    color: #027000;
}

#login {
    text-decoration: none;
    color: #027000;
    line-height: 19px;
    font-size: 16px;
    padding: 1px;
    font-weight: 200;
    text-align: right;
}

#cart {
    background-image: url(./img/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
}

main {
    height: 35vh;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

#descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    padding: 1rem;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    color: white;
}

#subtitulo {
    font-weight: 600;
}

p {
    font-size: 20px;
    line-height: 24px;
    color: white;
}

#reservar {
    text-decoration: none;
    color: white;
    background-color: #027000;
    width: max-content;
    padding: 1px 1rem;
    margin-left: 29px;
    border-radius: 15px;
}

#imagen_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#botones {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.botones_main{
    width: 100px;
    height: 50px;
    background-color: #027000;
    border-radius: 25px;
}

#articulos {
    box-sizing: border-box;
    border: 1px solid black;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47vh;
    padding: 1rem;
}

.card {
    width: 90%;
    height: 12vh;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    text-align: center;
}

.imagen_card {
    height: 100%;
    flex-basis: 33.3%;
    flex-grow: 1;
    align-self: center;
}

.texto_card {
    color: black;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-basis: 66.6%;
    flex-grow: 1;
    justify-content: center;
}