@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

header {
    height: 8vh;
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#enlace_back {
    font-size: 16px;
}

#logo {
    font-weight: 700;
}

#logo_little {
    color: #FAF014;
}

#logo_lemmon {
    color: #027000;
}

#cart {
    background-image: url(./img/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
}

button {
    border: none;
    font-size: 20px;
    line-height: 24PX;
}

a {
    text-decoration: none;
    color: #027000;
}

main {
    box-sizing: border-box;
    border: 1px solid black;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 393px;
    margin: auto;
    padding-bottom: 100px;
}


h1 {
    font-size: 40px;
    line-height: 48px;
    margin-left:  7%;
}

form {
    margin-top: 100px;
}

fieldset {
    border: none;
    background: #D9D9D9;
    padding: 32px 18px;
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-flow: wrap;
}


input{
    height: 52px;
    border: none;
}

form button {
    margin:  auto auto 40px;
    margin-top: 64px;
    display: flex;
    padding:  0px 16px;

}

#registro {
    margin-top: 51px;
}
