@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

header {
    max-width: 393px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-flow: wrap;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

.botones_menu{
    font-size: 20px;
    line-height: 24px;
    background-color: #D9D9D9;
}

#menu {
    margin-left: 10px;
}

#logo {
    text-decoration: none;
    color: black;
    width: 48px;
    left: 172px;
}

main {
    max-width: 393px;
    margin: auto;
    text-align: center;
}

#titulo_reserva {
    margin-top: 60px;
}

p {
    font-size: 30px;
    line-height: 36px;
    font-style: italic;
}

#reservar_mesa {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
}

.mesa {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 40px 40px;
    padding: 45px 45px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

fieldset {
    border: none;
    padding: 14px 14px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-flow: wrap;
}

label {
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

input {
    height: 33px;
}

input[placeholder] {
    text-align: right;
}

form button {
    font-size: 35px;
    margin:  auto auto 40px;
    margin-top: 45px;
    padding:  7px 0px;
    max-width: 300px;
    width: 100%;
}